html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    padding: 0 2rem;
}


li{
    list-style: none;
}

li a{
    color: black;
    text-decoration: none;
}